body {
  color:red; 
  font-family: 'd7mono', 'Georgia', serif; 
  background-color: black;
  }
@font-face {
  font-family: 'd7mono';
  src: url('d7mono.ttf');
}
img {
  width:100%
}
#tid {
  font-size:140px;
  text-align: center;
}