body {
  color:red; 
  font-family: 'd7mono', 'Georgia', serif; 
  background-color: black;
  text-align:center;

  }
@font-face {
  font-family: 'd7mono';
  src: url('d7mono.ttf');
}
img {
  width:95%;
}
#tid {
  font-size:280px;
  margin:0;
}